{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
    <title>{% block title%}MyDiaryProject{% endblock %}</title>
</head>
<body>
    <header>
        <h1>MyDiaryProject</h1>
        <p>headerです</p>
        <a href="{% url 'top' %}">Top</a>
        <a href="{% url 'diary_list' %}">List</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        footerです
    </footer>
    {% block js %}
    <script src="{% static 'js/hello.js' %}"></script>
    {% endblock js %}
</body>
</html>