{% extends 'diaries/base.html' %}

{% block title %}
    Form | {{ block.super }}
{% endblock title %}

{% block content %}
<h1>Form</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">送信</button>
</form>
{% endblock content %}