{% extends 'diaries/base.html' %}

{% block title %}
    List | {{ block.super }}
{% endblock title %}

{% block content %}
<h1>List</h1>
<p>これは日記一覧ページです</p>
<a href="{% url 'diary_create' %}">Create</a>
{% for diary in object_list %}
<div>
    <h2>title: {{diary.title}}</h2>
    <a href="{% url 'diary_detail' diary.pk %}">Read</a><br>
    <a href="{% url 'diary_update' diary.pk %}">Update</a><br>
    <a href="{% url 'diary_delete' diary.pk %}">Delete</a>
</div>
{% endfor %}
{% endblock content %}