{% extends 'diaries/base.html' %}

{% block title %}
    List | {{ block.super }}
{% endblock title %}

{% block content %}
<h1>Detail</h1>
<h2>title: {{object.title}}</h2>
<div>
    <ul>
        <li><a href="{% url 'diary_update' object.pk %}">Update</a></li>
        <li><a href="{% url 'diary_delete' object.pk %}">Delete</a></li>
    </ul>
</div>

<p>created: {{object.created|date:'Y-m-d'}}</p>
<p>{{object.detail|linebreaksbr}}</p>
<img src="{{object.image.url}}" alt="アップロードされた画像">
{% endblock content %}