{% extends 'diaries/base.html' %}

{% block title %}
    List | {{ block.super }}
{% endblock title %}

{% block content %}
<h1>Delete</h1>
<p>{{object.title}}を削除しますか?</p>
<p><a href="{% url 'diary_detail' object.pk %}">戻る</a></p>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="削除する">
</form>
{% endblock content %}